# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# R
*.Rproj
*.Rdata

# system affiliated files
.DS_Store

# Directories for testing data
# Data will be available from a data repository
/example_data/
/example_data/*
