# Python, R, etc.
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

.quarto/

*.Rproj
.RData
.Rhistory

.env
*.yml

*.code-workspace
.vscode/

# Data files (if they're huge)
*.tif
*.tiff
example_data/
*.zip

# Output/results
local_yeast_output/
output/
figures/
reports/
reports_for_boss/
98_saved_console_output/
97_plots_from_testing/
00_stratch_n_trash/
*.pdf
*.png

# Mac stuff
.DS_Store
